.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: #a1d7fc; */
}

.paper {
  display: flex;
  align-items: center;
  justify-content: center;
  /* padding: 50px 167px; */
  width: 1180px;
  height: 530px;
  background-color: #fff;
  border-radius: 25px;
}
