.homePageWrapper {
  width: 100vw;
  /* min-height: 968px; */
  height: 100vh;
  padding-top: 103px;
  background-image: url('../images/BG_blue.svg');
  /* background-image: url('../../images/Music_Quize_WEB.svg'); */
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  /* border: 1px solid red; */
}

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.paper {
  display: flex;
  align-items: center;
  justify-content: center;
  /* padding: 50px 167px; */
  width: 1180px;
  height: 530px;
  background-color: #fff;
  border-radius: 25px;
}
