.wrapper {
  width: 350px;
  display: flex;
}

.container {
  padding-left: 10px;
  padding-right: 10px;
  width: 100%;
}

.title {
  margin: 0;
  color: #000;
  font-weight: 400;
  font-size: 30px;
  text-align: center;
}

.input {
  margin-bottom: 15px;
}

.button {
  display: block;
  margin: 0 auto;
}

.form {
  margin-top: 15px;
}
