.container {
  display: block;
  margin: 0 auto;

  display: flex;
  align-items: center;
  justify-content: flex-end;

  max-width: 1180px;
  height: 75px;
  padding: 13px 49px 13px 26px;
  background-color: rgba(255, 255, 255, 0.4);
  box-shadow: 0px 5px 20px rgba(5, 0, 255, 0.1),
    inset 0px -3px 15px rgba(255, 255, 255, 0.3);
  border-radius: 0px 0px 25px 25px;
  backdrop-filter: blur(12.5px);
}

.containerWithBurger {
  composes: container;
  justify-content: space-between;
}

.authContainer {
  display: flex;
  align-items: center;
}

.signin {
  margin-right: 20px;
}
