.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #3c4372e0;

  z-index: 20;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 350px;
  height: 400px;

  background-color: #1f2449;
  border-radius: 5px;
  padding: 20px;
  border: 1px solid #a1a5be;
}

.closeModalBtn {
  position: absolute;
  top: 20px;
  right: 20px;

  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: none;
  cursor: pointer;
  /* z-index: 999; */
}

.title {
  margin: 0;
  margin-bottom: 20px;
  color: #fff;
  font-weight: 400;
  font-size: 30px;
  text-align: center;
}

.text {
  margin-right: 5px;
  margin-bottom: 20px;
  font-size: 15px;
  color: #a1a5be;
}

.form {
  position: relative;
  width: 350px;
  padding: 20px;
}

.btnContainer {
  display: flex;
  justify-content: center;
}

.bigButton {
  width: 100%;
  height: 45px;
  padding: 8px;
  background-color: #4f65f1;
  color: #f3f5f8;
  text-transform: uppercase;
  font-size: 15px;
  border-radius: 5px;
  cursor: pointer;
}

.label {
  display: block;
  width: 100%;
  font-size: 15px;
  color: #f3f5f8;
}

.input {
  display: block;
  margin: 0 auto;
  margin-top: 8px;
  margin-bottom: 30px;
  padding: 8px;
  width: 100%;
  height: 45px;
  border-radius: 5px;
  font-size: 15px;
  font-weight: 400;
  background-color: transparent;
  color: #f3f5f8;
  border: 1px solid #a1a5be;
}

.input:focus {
  outline: none;
  border: 1px solid #4f65f1;
}

.input::placeholder {
  color: #a1a5be;
}

.errInput {
  composes: input;
  border: 1px solid #fc4274;
}

.errEmail {
  position: absolute;
  top: 87px;
  right: 20px;
  margin-top: 8px;
  color: #fc4274;
  font-size: 12px;
  text-align: right;
  font-size: 12px;
}
